section#home{
  width: 80%;
}

@media only screen and (min-width: 640px) {

  .navContainer {
    float: right;
  }

  #navBar {
      display: block;
      padding-bottom: 0.1em;
      margin: 0.3em
    }

    #menuIcon {
      display: none;
    }
  }
